<!-- FOOTER SECTION -->
<section class="footer-section" id="footer_section">
    <div class="container">
        <div class="middle-portion">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <figure class="text-left">
                        <img src="/assets-u/image/cyenosure1.png" alt="" class="img-fluid" style="width: 14em;">
                    </figure>
                    <ul class="list-unstyled mb-0 text-left">
                        <li>
                            <p class="text-size-16">Technology is Best When It Brings People Together

                            </p>
                        </li>
                        <li class="live_icons hover-effect"><a href="#"><i class="fa-brands fa-facebook-f text-white mr-0" aria-hidden="true"></i></a></li>
                        <li class="live_icons hover-effect"><a href="#"><i class="fa-brands fa-twitter text-white mr-0" aria-hidden="true"></i></a></li>
                        <li class="live_icons hover-effect mr-0"><a href="#"><i class="fa-brands fa-instagram text-white mr-0" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-3 col-xs-12 d-md-block d-none">
                    <div class="useful_links">
                        <h5 class="text-white">Useful Links</h5>
                        <ul class="list-unstyled mb-0">
                            <li class="arrow">
                                <i class="fa-solid fa-arrow-right-long"></i>
                                <a href="/">Home</a>
                            </li>
                            <li class="arrow">
                                <i class="fa-solid fa-arrow-right-long"></i>
                                <a href="/about">About</a>
                            </li>
                            <li class="arrow">
                                <i class="fa-solid fa-arrow-right-long"></i>
                                <a href="/services">Services</a>
                            </li>
                            <li class="arrow">
                                <i class="fa-solid fa-arrow-right-long"></i>
                                <a href="/projects">Projects</a>
                            </li>
                            <li class="arrow">
                                <i class="fa-solid fa-arrow-right-long"></i>
                                <a href="/blogs">Blogs</a>
                            </li>
                            <li class="arrow">
                                <i class="fa-solid fa-arrow-right-long"></i>
                                <a href="/contacts">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 d-lg-block d-none">
                    <div class="services_links">
                        <h5 class="text-white">Our Services</h5>
                        <ul class="list-unstyled mb-0">
                            <li class="arrow">
                                <i class="fa-solid fa-arrow-right-long"></i>
                                <a href="/services">App Development</a>
                            </li>
                            <li class="arrow">
                                <i class="fa-solid fa-arrow-right-long"></i>
                                <a href="/services">Web Development</a>
                            </li>
                            <li class="arrow">
                                <i class="fa-solid fa-arrow-right-long"></i>
                                <a href="/services">Web Design</a>
                            </li>
                            <li class="arrow">
                                <i class="fa-solid fa-arrow-right-long"></i>
                                <a href="/services">Software Development</a>
                            </li>
                            <li class="arrow">
                                <i class="fa-solid fa-arrow-right-long"></i>
                                <a href="/services">G-suites</a>
                            </li>
                            <li class="arrow">
                                <i class="fa-solid fa-arrow-right-long"></i>
                                <a href="/services">office-365</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 d-sm-block d-none">
                    <div class="contact_links">
                        <h5 class="text-white">Contact Info</h5>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <span>Kalamassery,Kochi</span>
                            </li>
                            <li class="arrow mail_link">
                                <a href="mailto:info@cyenosure.com">info@cyenosure.com</a>
                            </li>
                            <li>
                                <a href="tel:+919742039353">+91 9742 03 9353</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <figure class="left_shape mb-0 position-absolute shape">
        <img src="/assets-u/images/footer_left_shape.png" alt="" class="img-fluid">
    </figure>
    <figure class="right_shape mb-0 position-absolute shape_2">
        <img src="/assets-u/images/footer_right_shape.png" alt="" class="img-fluid">
    </figure>
</section>