<div class="sub-banner-section-outer about-banner-section position-relative">
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light ml-0">
                <a class="navbar-brand" href="/"><figure class="mb-0"><img src="/assets-u/image/cyenosure1.png" alt="" class="img-fluid" style="height: 35px; width:95px;"></figure></a>
                <button class="navbar-toggler collapsed " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Projects">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Blogs">Blogs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/products">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Contacts">Contact</a>
                        </li>
                        <li class="nav-item" style="display: flex;">
                            <div class="d-inline-block nav-link mt-3" style="color: #fff;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-plus" viewBox="0 0 16 16">
                                    <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                                    <path fill-rule="evenodd" d="M12.5 1a.5.5 0 0 1 .5.5V3h1.5a.5.5 0 0 1 0 1H13v1.5a.5.5 0 0 1-1 0V4h-1.5a.5.5 0 0 1 0-1H12V1.5a.5.5 0 0 1 .5-.5z"/>
                                  </svg>
                                  </div>
                                  <div class="d-inline-block nav-link mt-3" style="color: #fff;">
                                    <a href="tel:919742039353"><p>+919742039353</p></a>
                            </div>
                        </li>
                    </ul>
                    <!-- -->
                </div>
            </nav>
        </div>
    </header>
    <!-- SUB BANNER SECTION -->
    <section class="banner-section position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="banner-section-content text-center">
                        <h1 data-aos="fade-up">About Us</h1>
                        <p class="text-white" data-aos="fade-right"></p>
                        <div class="btn_wrapper" data-aos="fade-up">
                           <a href="/"><span class="sub_home_span">Home </span></a> -<span class="sub_span"> About</span>
                        </div>
                    </div>
                </div>
            </div>
           
            <figure class="shape5 mb-0 position-absolute">
                <img src="/assets-u/images/sub_banner_shape5.png" alt="" class="img-fluid">
            </figure>
            <figure class="shape6 mb-0 position-absolute shape">
                <img src="/assets-u/images/sub_banner_shape6.png" alt="" class="img-fluid">
            </figure>
        </div>
    </section>
    <figure class="shape1 mb-0 position-absolute shape_2">
        <img src="/assets-u/images/sub_banner_shape1.png" alt="" class="img-fluid">
    </figure>
    <figure class="shape2 mb-0 position-absolute shape_2">
        <img src="/assets-u/images/sub_banner_shape2.png" alt="" class="img-fluid">
    </figure>
    <figure class="shape3 mb-0 position-absolute">
        <img src="/assets-u/images/sub_banner_shape3.png" alt="" class="img-fluid">
    </figure>
</div>
<!-- ABOUT US SECTION -->
<section class="about_section" id="digital_solutions">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                <div class="about_images position-relative">
                    <figure class="mb-0 about_img1 position-absolute">
                        <img src="/assets-u/images/about_aboutus_img1.jpg" alt="" class="img-fluid">
                    </figure>
                    <figure class="mb-0 about_img2 position-absolute">
                        <img src="/assets-u/images/about_aboutus_img2.jpg" alt="" class="img-fluid">
                    </figure>
                    <figure class="mb-0 about_img3 position-absolute">
                        <img src="/assets-u/images/about_aboutus_img3.jpg" alt="" class="img-fluid">
                    </figure>
                    <figure class="mb-0 about_img4 position-absolute">
                        <img src="/assets-u/images/about_aboutus_img4.jpg" alt="" class="img-fluid">
                    </figure>
                    <figure class="mb-0 about_shape1 position-absolute shape_2">
                        <img src="/assets-u/images/about_aboutus_shape1.jpg" alt="" class="img-fluid">
                    </figure>
                    <figure class="mb-0 about_shape2 position-absolute shape_2">
                        <img src="/assets-u/images/about_aboutus_shape2.png" alt="" class="img-fluid">
                    </figure>
                    <div class="aboutus_img_box position-absolute">
                        <figure>
                            <img src="/assets-u/images/aboutus_box_shape.png" alt="" class="img-fluid">
                        </figure>
                        <div class="span_wrapper">
                            <span class="number counter">14</span>
                            <span class="plus">+</span>
                        </div>
                        <p class="text-size-16 mb-0">Years of Experience</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-12 d-flex align-items-center">
                <div class="heading" data-aos="fade-right">
                    <div class="line_wrapper position-relative">
                        <h6>About Us</h6>
                        <h2>Great Journey for IT Solutions</h2>
                        <figure class="mb-0 position-absolute">
                            <img src="/assets-u/images/red_line.png" alt="" class="img-fluid">
                        </figure>
                    </div>
                    <p class="text-size-16">Cyenosure is one of the fastest-growing website development companies in Kochi. As leading website designers in Cochin, we systematically approach all projects.</p>
                    <p class="pp text-size-16">We are headquartered in Kalamassery, Kerala, but we cater to a wide range of clients across the globe. Our team ensures that high-quality solutions are delivered within the specified time at affordable prices.</p>
                    <ul class="list-unstyled">
                        <li class="list_one">
                            <i class="fa-solid fa-check"></i>
                            <p class="text-size-16">Requirements Gathering.</p> 
                        </li>
                        <li>
                            <i class="fa-solid fa-check"></i>
                            <p class="text-size-16">Design & Development.</p>
                        </li>
                        <li class="list_two">
                            <i class="fa-solid fa-check"></i>
                            <p class="text-size-16">Maintenance And Support.</p>
                        </li>
                        <li>
                            <i class="fa-solid fa-check"></i>
                            <p class="text-size-16">Testing Device & Release.</p>
                        </li>
                       
                    </ul>
                    <div class="btn_wrapper">
                        <a class="text-decoration-none default-btn hover-effect readmore_btn" href="about.html">Read More<i class="fa-thin fa-arrow-right-long"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- OUR ACHIEVEMENTS SECTION -->
<section class="our_achievements_section position-relative overflow-hidden">
    <div class="container">
        <div class="row position-relative">
            <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                <div class="heading">
                    <div class="line_wrapper position-relative">
                        <h6>Our History
                        </h6>
                        <h2 class="text-white">Better Website Means A User Experience
                        </h2>
                        <figure class="mb-0 position-absolute">
                            <img src="/assets-u/images/white_line.png" alt="" class="img-fluid">
                        </figure>
                    </div>
                    <p class="text-white text-size-16">Our approach to unique production yields products that stand out, making a lasting impact.Our creative strategy fuels visionary solutions, driving your brand towards boundless growth.</p>
                    <div class="btn_wrapper">
                        <a class="text-decoration-none default-btn hover-effect readmore_btn" href="services.html">Get Started<i class="fa-thin fa-arrow-right-long"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                <div class="achievements_right_content" data-aos="fade-right">
                    <div class="our_achievements_box box">
                        <div class="image_wrapper">
                            <figure>
                                <img src="/assets-u/images/achievement_1.png" alt="" class="img-fluid">
                            </figure>
                        </div>
                        <div class="content_wrapper">
                            <div class="span_wrapper">
                                <span class="text-white">134</span>
                            </div>
                            <p class="text-size-16 mb-0">Satisfied Clients</p>
                        </div>
                    </div>
                    <div class="our_achievements_box">
                        <div class="image_wrapper">
                            <figure class="yellow_circle">
                                <img src="/assets-u/images/achievement_2.png" alt="" class="img-fluid">
                            </figure>
                        </div>
                        <div class="content_wrapper">
                            <div class="span_wrapper">
                                <span class="text-white">258</span>
                            </div>
                            <p class="text-size-16 mb-0">Projects Completed</p>
                        </div>
                    </div>
                    <div class="our_achievements_box box">
                        <div class="image_wrapper">
                            <figure class="yellow_circle">
                                <img src="/assets-u/images/achievement_3.png" alt="" class="img-fluid">
                            </figure>
                        </div>
                        <div class="content_wrapper">
                            <div class="span_wrapper">
                                <span class="text-white counter">26</span>
                                <span class="plus text-white">+</span>
                            </div>
                            <p class="text-size-16 mb-0">Awards Win</p>
                        </div>
                    </div>
                    <div class="our_achievements_box">
                        <div class="image_wrapper">
                            <figure>
                                <img src="/assets-u/images/achievement_4.png" alt="" class="img-fluid">
                            </figure>
                        </div>
                        <div class="content_wrapper">
                            <div class="span_wrapper">
                                <span class="text-white counter">3</span>
                                <span class="plus text-white">+</span>
                            </div>
                            <p class="text-size-16 mb-0">Team Members</p>
                        </div>
                    </div>
                </div>
            </div>
            <figure class="triangle_shape mb-0 position-absolute shape">
                <img src="/assets-u/images/achievement_triangle_shape.png" alt="" class="img-fluid">
            </figure>
        </div>
        <figure class="left_shape mb-0 position-absolute shape_2">
            <img src="/assets-u/images/achievement_left_shape.png" alt="" class="img-fluid">
        </figure>
        <figure class="right_shape mb-0 position-absolute shape_2">
            <img src="/assets-u/images/achievement_right_shape.png" alt="" class="img-fluid">
        </figure>
    </div>
</section>
<!-- MISSION & VISION SECTION -->
<section class="mission_vision_section">
    <div class="container">
        <div class="row" data-aos="fade-up">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mb-md-0 mb-4">
                <div class="box">
                    <div class="image_wrapper">
                        <figure class="mb-0">
                            <img src="/assets-u/images/mission_img.png" alt="" class="img-fluid">
                        </figure>
                    </div>
                    <div class="content">
                        <h4>Our Mission</h4>
                        <p class="text-size-16 mb-0">we empower with quality tech, drive growth, and ensure client success.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="box box2">
                    <div class="image_wrapper">
                        <figure class="mb-0">
                            <img src="/assets-u/images/vision_img.png" alt="" class="img-fluid">
                        </figure>
                    </div>
                    <div class="content">
                        <h4>Our Vision</h4>
                        <p class="text-size-16 mb-0">we aim to lead with innovation, create positive impact, and exceed client needs."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- TESTIMONIALS SECTION -->
<section class="testimonials-section position-relative" id="testimonials">
    <div class="container">
        <figure class="mb-0 bottom_shape position-absolute shape_2">
            <img src="/assets-u/images/testimonials_bottom_shape.png" alt="" class="img-fluid">
        </figure>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="heading position-relative text-center">
                    <h6>Testimonials</h6>
                    <h2>What Our Cutomers are Saying About us</h2>
                    <figure class="mb-0 position-absolute">
                        <img src="/assets-u/images/red_line.png" alt="" class="img-fluid">
                    </figure>
                </div>
            </div>
        </div>
        <div class="row position-relative" data-aos="fade-up">
            <figure class="mb-0 left_shape position-absolute shape">
                <img src="/assets-u/images/testimonials_left_shape.png" alt="" class="img-fluid">
            </figure>
            <figure class="mb-0 right_shape position-absolute shape">
                <img src="/assets-u/images/testimonials_right_shape.png" alt="" class="img-fluid">
            </figure>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="testimonial-box float-left w-100">
                        <ul class="list-unstyled">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <p>
                            I want to give special recognition to Cyenosure for all the planning, guidance, and hard work in migrating
                             our site email server to Office 365 cloud email</p>
                        <div class="info position-relative">
                            <div class="image_wrapper">
                                <figure class="user-img mb-0">
                                    <img class="img-fluid" src="/assets-u/images/testimonials_3.png" alt="">
                                </figure>
                            </div>
                            <div class="designation-outer">
                                <p class="name mb-0">Akhilesh S Nair</p>
                                <p class="designation mb-0">Founder of chameleon creation</p>
                            </div>
                            <figure class="quote-img position-absolute mb-0">
                                <img class="img-fluid" src="/assets-u/images/quote_icon.png" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-box float-left w-100">
                        <ul class="list-unstyled">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <p>The team was courteous,prompt and professional cyenosure engineers always deliver</p>
                        <div class="info position-relative">
                            <div class="image_wrapper">
                                <figure class="user-img mb-0">
                                    <img class="img-fluid" src="/assets-u/images/testimonials_1.png" alt="">
                                </figure>
                            </div>
                            <div class="designation-outer">
                                <p class="name mb-0">Dr.Jinish</p>
                                <p class="designation mb-0">Founder of Divine Dental Clinic</p>
                            </div>
                            <figure class="quote-img position-absolute mb-0">
                                <img class="img-fluid" src="/assets-u/images/quote_icon.png" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-box float-left w-100">
                        <ul class="list-unstyled">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <p>We precisely needed "Cyenosure" - as an extension of our software department. They are all sleeves rolled 
                            up to tackle each challenge and opportunity as it rises, and we could only have gotten through our move or
                             server migration with them</p>
                        <div class="info position-relative">
                            <div class="image_wrapper">
                                <figure class="user-img mb-0">
                                    <img class="img-fluid" src="/assets-u/images/testimonials_2.png" alt="">
                                </figure>
                            </div>
                            <div class="designation-outer">
                                <p class="name mb-0">Usman</p>
                                <p class="designation mb-0">Founder of Cargo Track & Courier Service</p>
                            </div>
                            <figure class="quote-img position-absolute mb-0">
                                <img class="img-fluid" src="/assets-u/images/quote_icon.png" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-box float-left w-100">
                        <ul class="list-unstyled">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <p>excelent service , quick response , efficent trouble shooting and resolution with full explanation of the problem</p>
                        <div class="info position-relative">
                            <div class="image_wrapper">
                                <figure class="user-img mb-0">
                                    <img class="img-fluid" src="/assets-u/images/testimonials_3.png" alt="">
                                </figure>
                            </div>
                            <div class="designation-outer">
                                <p class="name mb-0">Noujas</p>
                                <p class="designation mb-0">Founder of Best Express Cargo Dubai</p>
                            </div>
                            <figure class="quote-img position-absolute mb-0">
                                <img class="img-fluid" src="/assets-u/images/quote_icon.png" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-box float-left w-100">
                        <ul class="list-unstyled">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <p>
                            I want to give special recognition to Cyenosure for all the planning, guidance, and hard work in migrating
                             our site email server to Office 365 cloud email</p>
                        <div class="info position-relative">
                            <div class="image_wrapper">
                                <figure class="user-img mb-0">
                                    <img class="img-fluid" src="/assets-u/images/testimonials_3.png" alt="">
                                </figure>
                            </div>
                            <div class="designation-outer">
                                <p class="name mb-0">Akhilesh S Nair</p>
                                <p class="designation mb-0">Founder of chameleon creation</p>
                            </div>
                            <figure class="quote-img position-absolute mb-0">
                                <img class="img-fluid" src="/assets-u/images/quote_icon.png" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-box float-left w-100">
                        <ul class="list-unstyled">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <p>The team was courteous,prompt and professional cyenosure engineers always deliver</p>
                        <div class="info position-relative">
                            <div class="image_wrapper">
                                <figure class="user-img mb-0">
                                    <img class="img-fluid" src="/assets-u/images/testimonials_1.png" alt="">
                                </figure>
                            </div>
                            <div class="designation-outer">
                                <p class="name mb-0">Dr.Jinish</p>
                                <p class="designation mb-0">Founder of Divine Dental Clinic</p>
                            </div>
                            <figure class="quote-img position-absolute mb-0">
                                <img class="img-fluid" src="/assets-u/images/quote_icon.png" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-box float-left w-100">
                        <ul class="list-unstyled">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <p>We precisely needed "Cyenosure" - as an extension of our software department. They are all sleeves rolled 
                            up to tackle each challenge and opportunity as it rises, and we could only have gotten through our move or
                             server migration with them</p>
                        <div class="info position-relative">
                            <div class="image_wrapper">
                                <figure class="user-img mb-0">
                                    <img class="img-fluid" src="/assets-u/images/testimonials_2.png" alt="">
                                </figure>
                            </div>
                            <div class="designation-outer">
                                <p class="name mb-0">Usman</p>
                                <p class="designation mb-0">Founder of Cargo Track & Courier Service</p>
                            </div>
                            <figure class="quote-img position-absolute mb-0">
                                <img class="img-fluid" src="/assets-u/images/quote_icon.png" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-box float-left w-100">
                        <ul class="list-unstyled">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <p>excelent service , quick response , efficent trouble shooting and resolution with full explanation of the problem</p>
                        <div class="info position-relative">
                            <div class="image_wrapper">
                                <figure class="user-img mb-0">
                                    <img class="img-fluid" src="/assets-u/images/testimonials_3.png" alt="">
                                </figure>
                            </div>
                            <div class="designation-outer">
                                <p class="name mb-0">Noujas</p>
                                <p class="designation mb-0">Founder of Best Express Cargo Dubai</p>
                            </div>
                            <figure class="quote-img position-absolute mb-0">
                                <img class="img-fluid" src="/assets-u/images/quote_icon.png" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 
<!-- OUR STAFF SECTION -->
<section class="our_staff_section">
    <div class="container">
        <figure class="mb-0 staff_background">
            <img src="/assets-u/images/our_staff_background.jpg" alt="" class="img-fluid">
        </figure>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="heading position-relative text-center">
                    <h6>Our Clients</h6>
                    <h2>We are Working With</h2>
                    <figure class="mb-0 position-absolute">
                        <img src="/assets-u/images/red_line.png" alt="" class="img-fluid">
                    </figure>
                </div>
            </div>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="owl-carousel owl-theme">
                <% if (clientdatas) { %>
                    <% for (let i = 0; i < clientdatas.length; i++) { %>
                        <% let currentdata = clientdatas[i]; %>
                        <div class="item">
                            <div class="staff_box text-center">
                                <div class="image_wrapper position-relative">
                                    <figure class="mb-0" style="width: 200px; height: 200px; overflow: hidden;">
                                        <img src="<%= currentdata.image %>" alt="" style="width: 100%; height: 100%; object-fit: cover;">
                                    </figure>
                                    <div class="icons float-left d-table">
                                        <!-- ... Your social media icons ... -->
                                    </div>
                                </div>
                                <a class="text-decoration-none">
                                    <!-- <h5 class="mb-0">Baen James</h5> -->
                                    <p class="mb-0 text-size-16">grgrggfrgfg</p>
                                </a>
                            </div>
                        </div>
                    <%}%>
                 
                <%}%>
            </div>
            
        </div>
    </div>
</section>

<!-- CONTACT SECTION -->
<section class="contact-section position-relative">
    <div class="container">
        <figure class="right_shape mb-0 position-absolute shape">
            <img src="/assets-u/images/contact_us_right_shape.png" alt="" class="img-fluid">
        </figure>
        <div class="row contact_box position-relative">
            <figure class="left_shape mb-0 position-absolute shape_2">
                <img src="/assets-u/images/contact_us_left_shape.png" alt="" class="img-fluid">
            </figure>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 pr-lg-0 pr-md-0 pr-auto">
                <figure class="left_image mb-0">
                    <img src="/assets-u/images/contact_us_left_image.jpg" alt="" class="img-fluid">
                </figure>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 pl-lg-0 pl-auto">
                <div class="contact_right_content">
                    <div class="heading position-relative">
                        <h6 class="text-white">Contact us</h6>
                        <h2 class="text-white">Get in Touch With Us!</h2>
                        <figure class="mb-0 position-absolute">
                            <img src="/assets-u/images/white_line.png" alt="" class="img-fluid">
                        </figure>
                    </div>
                    <form method="POST" action="admin/contact-form">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Your Name:">
                        </div>
                        <div class="form-group">
                          <input type="email" class="form-control" name="email" id="email" placeholder="Your Email:">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" name="number" id="email" placeholder="Your number:">
                          </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" id="comments" rows="3" placeholder="Message:"></textarea>
                        </div>
                        <button type="submit" class="btn hover-effect">Send Now<i class="fa-thin fa-arrow-right-long"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>