<div class="sub-banner-section-outer about-banner-section position-relative">
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light ml-0">
                <a class="navbar-brand" href="/"><figure class="mb-0"><img src="/assets-u/image/cyenosure1.png" alt="" class="img-fluid" style="height: 35px; width:95px;"></figure></a>
                <button class="navbar-toggler collapsed " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Projects">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Blogs">Blogs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/products">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Contacts">Contact</a>
                        </li>
                        <li class="nav-item" style="display: flex;">
                            <div class="d-inline-block nav-link mt-3" style="color: #fff;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-plus" viewBox="0 0 16 16">
                                    <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                                    <path fill-rule="evenodd" d="M12.5 1a.5.5 0 0 1 .5.5V3h1.5a.5.5 0 0 1 0 1H13v1.5a.5.5 0 0 1-1 0V4h-1.5a.5.5 0 0 1 0-1H12V1.5a.5.5 0 0 1 .5-.5z"/>
                                  </svg>
                                  </div>
                                  <div class="d-inline-block nav-link mt-3" style="color: #fff;">
                                    <a href="tel:919742039353"><p>+919742039353</p></a>
                            </div>
                        </li>
                    </ul>
                    <!-- -->
                </div>
            </nav>
        </div>
    </header>
    <!-- SUB BANNER SECTION -->
    <section class="banner-section position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="banner-section-content text-center">
                        <h1 data-aos="fade-up"> product Details</h1>
                        <p class="text-white" data-aos="fade-right">.</p>
                        <div class="btn_wrapper" data-aos="fade-up">
                            <span class="sub_home_span">Home </span>-<span class="sub_span">product Details</span>
                        </div>
                    </div>
                </div>
            </div>
            <figure class="shape4 mb-0 position-absolute shape">
                <img src="/assets-u/images/sub_banner_shape4.png" alt="" class="img-fluid">
            </figure>
            <figure class="shape5 mb-0 position-absolute">
                <img src="/assets-u/images/sub_banner_shape5.png" alt="" class="img-fluid">
            </figure>
            <figure class="shape6 mb-0 position-absolute shape">
                <img src="/assets-u/images/sub_banner_shape6.png" alt="" class="img-fluid">
            </figure>
        </div>
    </section>
    <figure class="shape1 mb-0 position-absolute shape_2">
        <img src="/assets-u/images/sub_banner_shape1.png" alt="" class="img-fluid">
    </figure>
    <figure class="shape2 mb-0 position-absolute shape_2">
        <img src="/assets-u/images/sub_banner_shape2.png" alt="" class="img-fluid">
    </figure>
    <figure class="shape3 mb-0 position-absolute">
        <img src="/assets-u/images/sub_banner_shape3.png" alt="" class="img-fluid">
    </figure>
</div>
<!-- MAIN SECTION -->
<!-- ======================================= -->
<!-- ==========   {One Column*}   ========== -->
<!-- ======================================= -->
<div class="wrapper">
    <section class="blog-posts">
       <div class="container">
          <div class="row wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
             <div id="blog" class="col-xl-12">
                <% if (productdetail) { %>
                  
                <div class="float-left w-100 post-item border mb-4">
                    <div class="post-item-wrap position-relative">
                       <div class="post-image">
                          <a href="#">
                          <img alt="" src="<%= productdetail.image %>">
                          </a>
                          
                          <!--post-image-->
                       </div>
                       <div class="post-item-description">
                       
                           
                            
                            
                         </div>
                        
                          <h4 style="color: black;">
                            <%= productdetail.title %>
                          </h4>
                          <p><%= productdetail.description %></p>
                          <!--post-item-description-->
                       </div>
                       <!--post-item-wrap-->
                    </div>
                    <!--post-item-->
                 </div>
              <%}%>
              
                <!--blog-->
             </div>
             <!--row-->
          </div>
       </div>
    </section>
 </div>
 <!-- CONTACT SECTION -->
<section class="contact-section position-relative">
    <div class="container">
        <figure class="right_shape mb-0 position-absolute shape">
            <img src="/assets-u/images/contact_us_right_shape.png" alt="" class="img-fluid">
        </figure>
        <div class="row contact_box position-relative">
            <figure class="left_shape mb-0 position-absolute shape_2">
                <img src="/assets-u/images/contact_us_left_shape.png" alt="" class="img-fluid">
            </figure>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 pr-lg-0 pr-md-0 pr-auto">
                <figure class="left_image mb-0">
                    <img src="/assets-u/images/contact_us_left_image.jpg" alt="" class="img-fluid">
                </figure>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 pl-lg-0 pl-auto">
                <div class="contact_right_content">
                    <div class="heading position-relative">
                        <h6 class="text-white">Contact us</h6>
                        <h2 class="text-white">Get in Touch With Us!</h2>
                        <figure class="mb-0 position-absolute">
                            <img src="/assets-u/images/white_line.png" alt="" class="img-fluid">
                        </figure>
                    </div>
                    <form method="POST" action="admin/contact-form">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Your Name:">
                        </div>
                        <div class="form-group">
                          <input type="email" class="form-control" name="email" id="email" placeholder="Your Email:">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" name="number" id="email" placeholder="Your number:">
                          </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" id="comments" rows="3" placeholder="Message:"></textarea>
                        </div>
                        <button type="submit" class="btn hover-effect">Send Now<i class="fa-thin fa-arrow-right-long"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>